#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>
#include <zephyr/dt-bindings/timer/stm32-timer.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/adc/adc.h>

/{
	zephyr,user {
		tm1638-stb-gpios = <&gpioa 10 GPIO_ACTIVE_HIGH>;
		tm1638-clk-gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
		tm1638-dio-gpios = <&gpioa 9 GPIO_ACTIVE_HIGH>;

		paso-paso-gpios =<&gpiob 13 GPIO_ACTIVE_HIGH>,
				<&gpiob 14 GPIO_ACTIVE_HIGH>,
				<&gpiob 15 GPIO_ACTIVE_HIGH>,
				<&gpiob 1 GPIO_ACTIVE_HIGH>;

		io-channels = <&adc1 0>;
		io-channel-names = "volumen";
	};

	bocina_servo_pwm{
		compatible = "pwm-leds";

		bocina: out-pwm {
			pwms = <&pwm1 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};

		servo: out-pwm-2 {
			pwms= <&pwm2 2 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
	};
};

&timers1 {
	status = "okay";
	st,prescaler = <83>;
	pwm1: pwm{
		status = "okay";
		pinctrl-0 = <&tim1_ch1_pa8>;
		pinctrl-names = "default";
	};
};

&timers2 {
	status = "okay";
	st,prescaler = <83>;
	pwm2: pwm{
		status = "okay";
		pinctrl-0 = <&tim2_ch2_pb3>;
		pinctrl-names = "default";
	};
};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;
    	pinctrl-names = "default";
    	pinctrl-0 = <&analog_pa0>;
    	status = "okay";
	channel@0{
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40)>;
		zephyr,resolution = <12>;
	};
};
